<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- SEO extra -->
<meta name="keywords" content="canasta básica, estudiantes, universidades, informes">
<meta property="og:title" content="Canasta Básica Total Estudiantil">
<meta property="og:description" content="Elaborado por y para estudiantes">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="icon" type="image/jpeg" href="assets/img/logo.jpg">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- end custom head snippets -->
